target
.idea
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
dependency-reduced-pom.xml
kube-cluster/kubernetes
apps/modifiedFabric8.json
git-clones
127.0.1.1.tm1.epoch
tmlog1.log
logs
.sonar


